@import "antd/dist/antd.css";
@font-face {
  font-family: Poppins;
  src: url(../public/fonts/Poppins-Regular.ttf);
}

.titre {
  padding-left: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  color: #060e30;
  letter-spacing: 0.5%;
}

.AddPatient {
  overflow-x: hidden;
  min-height: 100vh;
}

input,
select {
  border-radius: 10px;
  background-color: #dadada;
  padding-left: 2%;
  font-size: 18px;
  height: 47px;
}

textarea {
  padding-left: 1%;
  font-size: 18px;
}

.home {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: relative;
}

.menu {
  display: none;
  flex-direction: column;
  gap: 2px;
  margin-right: 25px;
  cursor: pointer;
}

.line {
  width: 1.5rem;
  height: 4px;
  background-color: black;
  border-radius: 20px;
}

.left-nav {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 32px;
}

.left-nav .login- {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: gray;
}

.left-nav a {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 3px;
  font-family: "Montserrat-Alt1 Light", sans-serif;
  background: linear-gradient(
    to right,
    #71c5ee,
    #53a7d8,
    #3889c1,
    #1e6caa,
    #025091
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.right-nav {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  padding-right: 32px;
}
/*
.doctor-logo {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  right: 229px;
}
*/
.right-nav .doctor {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 181px;
}

.right-nav .doctor .doctor-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
}

.right-nav .doctor .doctor-name {
  display: flex;
  flex-direction: column;
}

.right-nav .doctor .doctor-name a {
  width: 125px;
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.right-nav .doctor .doctor-name span {
  width: 77px;
  font-size: 12px;
}

.lh {
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
}

.lv {
  width: 1px;
  height: calc(100vh - 80px);
  background-color: #e1e1e1;
  position: absolute;
  top: 80px;
  left: 80px;
  z-index: 1;
}

.aside-active {
  width: 100vw;
  height: calc(100vh - 90px);
  position: absolute;
  bottom: 0;
  top: 85px;
  background-color: white;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-150%);
  transition: all 1s ease;
  z-index: 99;
}

.aside-active.active {
  transform: translateX(0);
}

.aside-active ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.aside-active li {
  position: relative;
  cursor: pointer;
}

.aside-active li::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #71c5ee;
  border-radius: 1000px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.35s ease-out;
}

.aside-active li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.aside-active ul li a {
  display: flex;
  align-items: center;
  gap: 30px;
  text-transform: capitalize;
  font-size: 22px;
}

.aside {
  position: absolute;
  top: 85px;
  bottom: 10px;
  left: 10px;
  width: 60px;
  overflow: hidden;
  transition: width 0.2 linear;
  padding-left: 9px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 99;
}

.aside ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 30px;
  list-style: none;
}

.aside ul li a {
  position: relative;
  color: black;
  font-size: 14px;
  display: table;
  width: 232px;
  text-transform: capitalize;
}

.aside ul li a .icon {
  position: relative;
  font-size: 24px;
  text-align: center;
  padding-left: 10px;
  top: 5px;
}

.aside ul li:last-child {
  position: absolute;
  bottom: 20px;
}

.title {
  position: relative;
  margin-left: 40px;
}

.aside ul li a:hover {
  line-height: 50px;
  background-color: #71c5ee;
  border-radius: 20px 0 0 20px;
  margin-left: 10px;
  transition: all 1s ease;
  padding-left: 10px;
}
/*
.list-active{
  line-height: 50px;
  background-color: #71c5ee;
  border-radius: 20px 0 0 20px;
  width: 60px;
}
*/
.aside:hover {
  width: 240px;
  transition: all 1s ease;
}

.addpatient-container {
  width: 90%;
  height: calc(100vh - 90px);
  margin-left: 90px;
  background-color: #f8f9fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.top-titre {
  margin-top: 23px;
  margin-left: 82px;
}

.top-titre h2 {
  width: 217px;
  font-weight: 600;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
}

.top-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 212px;
  padding-right: 100px;
}

.paraticien {
  display: flex;
  align-items: center;
  gap: 10px;
}

.paraticien a {
  margin-bottom: 9px;
}

.paraticien a:hover {
  text-decoration: underline;
}

.service h3,
.paraticien h3,
.paraticien a {
  font-weight: 700;
  font-size: 20px;
  color: #060e30;
}

.home-formulaire-swiper,
.cahier-formulaire-swiper {
  margin-top: 15px;
  width: 95%;
  height: 76%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px #060e30;
  border-radius: 10px;
}

.cahier-formulaire-swiper {
  margin-top: 54px;
  width: 85%;
  height: calc(100vh - 100px);
}

.swiper-formulaire {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Swipe {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.Swipe::-webkit-scrollbar {
  width: 0;
}

.formulaire-header {
  width: 100%;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
}

.formulaire-left,
.formulaire-centre,
.formulaire-right,
.formulaire-dossier-obstetrique {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.formulaire-header-obster {
  width: 100%;
  height: 73px;
  margin-bottom: 2px;
}

.formulaire-dossier-obstetrique {
  width: 100%;
}

.swipe1,
.swipe2,
.swipe3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #71c5ee;
}

.formulaire-left h2,
.formulaire-centre h2,
.formulaire-right h2,
.patient-details
  .cahier-formulaire-swiper
  .swiper-formulaire
  .formulaire-header
  h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.formulaire-dossier-obstetrique h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
}

.hr-nav {
  background-color: gray;
  height: 0.5px;
}

.hr-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hr-header hr {
  width: 90%;
  background-color: #4f81ff;
  height: 0.5px;
}

.sexe-date-heure,
.score-dapgar,
.rea-duree-malf,
.transfert-motif,
.examen,
.emission,
.cathet,
.recherche,
.organes,
.vitamine,
.catheterisme,
.date-poids-taille,
.pre-fre {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 70px;
  margin-top: 44px;
  gap: 20px;
}

.examen,
.cathet,
.recherche,
.organes,
.vitamine,
.catheterisme {
  padding-left: 20px;
}

.emission,
.rea-duree-malf,
.score-dapgar {
  justify-content: center;
  padding-left: 0;
}

.rea-duree-malf {
  gap: 60px;
}

.transfert-motif {
  justify-content: end;
  gap: 80px;
  padding-right: 124px;
}

.emission {
  gap: 50px;
}

.examen-de-la-peau,
.app-cardio,
.pleuro-pul,
.malformations,
.traumatismes,
.examen-neuro,
.reflexes,
.conclusion,
.conj-eryth-globe,
.depistage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  padding-left: 40px;
}

.conclusion h2,
.diag-sor h2,
.resume-obser h2,
.obser-entree h2,
.antecedents h2,
.pro-acc h2,
.examen-annexes h2,
.examen-entree h2 {
  padding-left: 40px;
}

.reflexes,
.conclusion {
  padding-left: 0;
}

.mat-art-mix1 {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.examen-de-la-peau {
  margin-top: 35px;
  height: 249px;
}

.malformations,
.examen-neuro {
  height: 357px;
}

.app-cardio,
.pleuro-pul,
.traumatismes,
.mat-art-mix {
  height: 125px;
}

.conclusion {
  height: 287px;
}

.conj-eryth-globe,
.depistage {
  height: 185px;
}

.examen-de-la-peau h2,
.app-cardio h2,
.pleuro-pul h2,
.malformations h2,
.traumatismes h2,
.examen-neuro h2,
.conclusion h2,
.diag-sor h2,
.resume-obser h2,
.obser-entree h2,
.antecedents h2,
.pro-acc h2,
.examen-annexes h2,
.examen-entree h2 {
  margin-left: 34px;
}

.reflexes span {
  margin-left: 70px;
}

.sexe,
.date,
.heure,
.date2,
.poids,
.taille,
.perimetre,
.frequence-car,
.frequence-res {
  width: 369px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.frequence-res {
  gap: 15px;
}

.pre-fre {
  padding-right: 40px;
}

.genitaux,
.k1,
.c-choanes,
.choanes,
.cordon,
.atresie,
.ictere,
.paleur,
.hematome,
.fente,
.bec,
.hanches,
.imperformation,
.yeux,
.obstetricaux,
.succion,
.signe-moro,
.tonus,
.reaction,
.conjonctivite,
.erytheme,
.globe,
.pheny,
.hypoth,
.autre,
.maternal,
.artificiel,
.mixte {
  display: flex;
}

.maternal,
.artificiel,
.mixte {
  align-items: center;
  gap: 20px;
}

.succion,
.signe-moro {
  padding-left: 55px;
}

.app1 {
  margin-top: 35px;
}

.sexe span,
.date span,
.heure span,
.score span,
.minute-1 span,
.minute-5 span,
.reanimation span,
.duree span,
.malforamtion span,
.transfert span,
.motif span,
.cordon span,
.urine span,
.meconium span,
.choanes span,
.atresie span,
.genitaux span,
.k1 span,
.c-choanes span,
.date2 span,
.poids span,
.taille span,
.perimetre span,
.frequence-car span,
.frequence-res span,
.ictere span,
.paleur span,
.hematome span,
.fente span,
.bec span,
.hanches span,
.imperformation span,
.yeux span,
.obstetricaux span,
.reflexes span,
.succionn span,
.signe-moro span,
.tonus span,
.reaction span,
.conjonctivite span,
.erytheme span,
.globe span,
.pheny span,
.hypoth span,
.autre span,
.maternal span,
.artificiel span,
.mixte span {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.span {
  display: flex;
  width: 348px;
  height: 47px;
  justify-content: center;
  align-items: center;
}
.pheny {
  margin-top: 20px;
}

.phe,
.hyp {
  width: 400px;
}

.span1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.atresie span {
  width: 457px;
  text-align: center;
}

.sexe select,
.date input,
.heure input,
.date2 input,
.poids input,
.taille input,
.perimetre input,
.frequence-car input,
.frequence-res input {
  width: 175px;
  text-align: center;
}

.score {
  width: 192px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minute-1,
.minute-5 {
  width: 250px;
  height: 47px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.minute-1 {
  margin-left: 120px;
}

.minute-1 input,
.minute-5 input,
.reanimation input,
.transfert input,
.urine input,
.meconium input,
.hypoth input,
.pheny input,
.artificiel input,
.mixte input,
.maternal input {
  width: 47px;
}

.hypoth input,
.pheny input {
  margin-left: 50px;
}

.reanimation,
.duree,
.malforamtion,
.transfert,
.motif,
.urine,
.meconium {
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.duree input,
.malforamtion input {
  width: 244px;
}

.motif input {
  width: 536px;
}

.atresie input {
  margin-left: 20px;
}

.atresie input {
  width: 695px;
}

.genitaux input,
.k1 input,
.c-choanes input,
.cordon input,
.choanes input,
.ictere input,
.paleur input,
.hematome input,
.fente input,
.bec input,
.hanches input,
.imperformation input,
.yeux input,
.obstetricaux input,
.tonus input,
.reaction input,
.conjonctivite input,
.erytheme input,
.globe input,
.autre input {
  width: 820px;
}

.succion input,
.signe-moro input {
  width: 764px;
}

.cardio,
.pleuro {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cardio input,
.pleuro input {
  width: 1007px;
}

.textarea {
  width: 100%;
  display: flex;
  justify-content: center;
}

.conclusion {
  margin-bottom: 0;
}

.conclusion textarea {
  width: 1060px;
  height: 200px;
  border-radius: 10px;
  background-color: #dadada;
}

.back-next-buttons {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 50px;
}

.next-first,
.back-first {
  margin-top: 20px;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 50px;
}

.next,
.back-next-dossier {
  margin-top: 32px;
}

.next button,
.back button,
.next-first button,
.back-first button {
  font-weight: 600;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: 0.5%;
  text-align: center;
  color: #060e30;
  cursor: pointer;
  background-color: transparent;
}

.next button {
  margin-bottom: 28px;
}

.vl {
  border-left: 3px solid #71c5ee;
  height: 35px;
}

.line-hl {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hl {
  height: 2px;
  width: 90%;
  background-color: #71c5ee;
  text-align: center;
}
.swiper-class {
  width: 100%;
  height: 100%;
}

.pere-class {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.obster-left-class {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 65px;
  margin-left: 40px;
}

.obster-right-class {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 107px;
}

.left-item,
.right-item,
.add-adm-vit-item,
.examen-entree-item2,
.pyscho-item,
.examen-bio-item,
.date-heure-acc,
.date-acc,
.heure-acc,
.annexe-item,
.glycemie,
.uree,
.examen-entree-item,
.hu-const,
.pres-bfc,
.hu,
.constraction,
.presentation {
  display: flex;
}

.examen-entree-item,
.hu-const,
.pres-bfc {
  width: 100%;
  justify-content: center;
  gap: 24px;
}

.date-heure-acc {
  justify-content: center;
  gap: 46px;
  margin-top: 31px;
  margin-right: 20px;
}

.pyscho-item,
.examen-bio-item,
.annexe-item {
  gap: 5px;
}

.right-item {
  margin-right: 69px;
}

#date {
  text-align: center;
}

.span-item {
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.span-item span,
.span-text span,
.psychologiques span,
.examen-bio span {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.span-item span,
.span-text span {
  text-align: center;
}

.span-text {
  padding-left: 92px;
}

.left-item input {
  width: 523px;
}

.right-item input {
  width: 275px;
}

.add-adm-vit-item input,
.examen-entree-item2 input {
  width: 932px;
}

.personnels .ddr-terme-item input {
  width: 408px;
}

.date-acc input,
.heure-acc input {
  width: 306px;
}

.pyscho-item input,
.examen-bio-item input,
.annexe-item input {
  width: 769px;
}

.date-annexe input,
.poids-annexe input,
.taille-annexe input,
.pc-annexe input,
.poule-examen-general input,
.poids-examen-general input,
.taille-examen-general input,
.ta-examen-general input {
  width: 175px;
  text-align: center;
}

.annexe-two .annexe-item input {
  width: 879px;
}

.glycemie input,
.uree input,
.hu input,
.constraction input,
.presentation input {
  width: 352px;
}

.malforamtion-annexe input,
.remarque-annexe input {
  width: 900px;
}

.pyscho-right input,
.pyscho-left input {
  width: 296px;
}

.add-adm-vit-item,
.examen-entree-item2,
.diag-sor,
.resume-obser,
.obser-entree,
.antecedents,
.obstetricaux-dossier,
.pathologique,
.familiaux,
.pro-acc,
.malforamtion-annexe,
.remarque-annexe {
  width: 100%;
  display: flex;
  justify-content: center;
}

.examen-entree-item2 {
  padding-right: 20px;
}

.malforamtion-annexe,
.remarque-annexe {
  align-items: center;
  gap: 10px;
  margin-top: 23px;
}

.diag-sor,
.resume-obser {
  flex-direction: column;
  gap: 21px;
  margin-top: 103px;
}

.obser-entree,
.obstetricaux-dossier,
.pro-acc,
.examen-entree {
  flex-direction: column;
  margin-top: 66px;
}

.examen-general,
.examen-obstetrical {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.examen-obstetrical {
  margin-top: 70px;
}

.sexe-poids-taille-pc,
.poids-taille-poule-ta {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 49px;
  gap: 23px;
}

.poids-taille-poule-ta {
  margin-top: 0;
}

.date-annexe,
.poids-annexe,
.taille-annexe,
.pc-annexe,
.taille-examen-general,
.poids-examen-general,
.poule-examen-general,
.ta-examen-general {
  display: flex;
  align-items: center;
}

.examen-annexes {
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 51px;
}

.pathologique,
.familiaux {
  flex-direction: column;
  margin-top: 61px;
}

.antecedents {
  flex-direction: column;
  margin-top: 50px;
}

.add-adm-vit {
  display: flex;
  flex-direction: column;
  margin-top: 78px;
  gap: 21px;
}

.resume-obser {
  margin-top: 32px;
  gap: 21px;
}

.diag-sor textarea,
.resume-obser textarea,
.motif-hosp textarea,
.psychologiques .textarea textarea,
.examen-comple .textarea textarea,
.pathologique .textarea textarea,
.familiaux .textarea textarea,
.empre-digi .textarea textarea,
.accoucheur .textarea textarea,
.re-annexe-textarea .textarea textarea,
.examen-general .textarea textarea,
.examen-obstetrical .textarea textarea {
  height: 175px;
  width: 1060px;
  border-radius: 10px;
  background-color: #dadada;
}

.re-annexe-textarea {
  margin-top: 29px;
}

.examen-general .textarea textarea,
.examen-obstetrical .textarea textarea {
  height: 105px;
}

.empre-digi .textarea textarea {
  height: 290px;
}

.accoucheur .textarea textarea {
  height: 216px;
}

.examen-comple .textarea textarea {
  height: 47px;
}

.psychologiques .textarea,
.examen-bio .textarea {
  display: flex;
  justify-content: flex-start;
}

.psychologiques .textarea textarea,
.examen-bio .textarea textarea {
  width: 986px;
  margin-left: 8px;
}

.span-long {
  width: 220px;
}

.span-long1 {
  width: 260px;
  margin-right: 35px;
}

.petit-span {
  width: 90px;
}

.pathologique .textarea textarea,
.familiaux .textarea textarea {
  height: 295px;
  margin-top: 23px;
}

.resume-obser textarea {
  height: 312px;
}

.motif-hosp textarea {
  height: 175px;
}

.motif-hosp,
.personnels,
.examen-comple,
.accoucheur,
.annexes,
.empre-digi {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 23px;
}

.accoucheur {
  margin-top: 15px;
  gap: 14px;
}

.empre-digi {
  margin-top: 40px;
}

.personnels {
  margin-bottom: 41px;
}

.ddr-terme {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 58px;
}

.ddr-terme-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.examen-entree {
  display: flex;
  flex-direction: column;
  gap: 29px;
}

#motif-hosp {
  width: 1107px;
}

.psychologiques,
.examen-bio,
.annexe {
  margin-left: 205px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.annexe-two {
  margin-left: 95px;
}

.psycho-class,
.pyscho-left,
.pyscho-right {
  display: flex;
  align-items: center;
}

.psycho-class {
  margin-left: 20px;
}

.psycho-class .pyscho-left .span-item {
  margin-right: 32px;
}

.obstetricaux-dossier .psycho-class {
  margin-left: 50px;
}

.addpatient-add-cahier,
.cahier-vaccin {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 54px;
  margin-bottom: 54px;
  width: calc(100% - 82px);
  position: absolute;
  left: 82px;
}

.cahier-vaccin {
  margin-top: 120px;
}

.lock-icon,
.lock-icon-ouvert {
  font-size: 32px;
  fill: #3889c1;
  position: absolute;
  right: 25px;
  top: 40%;
}

.addpatient-add-cahier .add-cahier-active .lock-icon,
.vaccin-visite-class .add-vaccin-active .lock-icon,
.addpatient-add-visite .add-visite-active .lock-icon {
  opacity: 0;
}

.cahier-sante-title {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px;
  margin-top: 30px;
}

.cahier-sante-title h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 33.6px;
  color: rgba(6, 14, 48, 1);
}

.addpatient-add-cahier,
.vaccin-visite-class {
  height: 40vh;
  display: flex;
  justify-content: start;
  padding-top: 10vh;
}

.vaccin-visite-class {
  position: relative;
  padding-top: 15vh;
}

.add-vaccin-button {
  position: absolute;
  right: 50px;
}

.add-vaccin-button .lock-icon,
.add-vaccin-button .lock-icon-ouvert,
.add-visite-button .lock-icon,
.add-visite-button .lock-icon-ouvert {
  top: 33%;
}

.cahier-vaccin,
.patient-details-cahier-vaccin {
  top: calc(100vh + 220px);
  display: none;
}

.addpatient-add-visite {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5vh;
}

.addpatient-add-visite .add-visite-button {
  width: 969px;
  position: relative;
  margin-top: 22vh;
}

.vaccin-table,
.visite-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

.add-cahier-active,
.add-visite-active {
  display: flex;
  transition: all 2s ease;
  transform: translateY(-10vh);
}

.add-vaccin-active,
.add-visite-active {
  display: flex;
  transition: all 2s ease;
}

.add-vaccin-active .add-vaccin-button {
  width: 969px;
  transform: translateX(55%);
  transition: all 2s ease;
}

.add-vaccin-active,
.add-visite-active {
  margin-top: -20px;
}

.patient-details .cahier-formulaire-swiper {
  display: none;
}

.patient-details .cahier-vaccin {
  position: relative;
}

.patient-details .add-cahier-active .cahier-formulaire-swiper {
  position: absolute;
  top: -3vh;
  transition: all 1s ease-in-out;
  display: flex;
}

.patient-details .add-cahier-active .lock-icon {
  opacity: 0;
}

.vaccin-visite-class.add-vaccin-active .add-visite-button {
  opacity: 0;
}

.vaccin-table-container,
.visite-table-container {
  width: 85%;
  height: 453px;
  padding: 0 10px;
  box-shadow: 0 0 0px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.visite-table-container {
  height: 859px;
  margin-top: 10vh;
}

.visite-table-petit-case {
  width: 305px;
}

.visite-table-grand-case {
  width: 911px;
}

.visite-calendar-case {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.visite-table-icon-calendar {
  font-size: 35px;
}

.vaccin-table-container h2,
.visite-table-container h2 {
  margin-left: 30px;
  margin-top: 37px;
}

.vaccination-table select,
.vaccination-table input,
.my-visite-table input {
  width: 196px;
  height: 59px;
  border-radius: 20px;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid rgba(6, 14, 48);
  cursor: pointer;
}

.my-visite-table textarea {
  width: 100%;
  height: 98%;
  font-size: 18px;
  font-weight: 500;
}

.vaccination-add-button-class,
.visite-add-button-class {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 34px;
  padding-bottom: 28px;
}

.vaccination-add-button,
.visite-add-button {
  width: 364px;
  height: 64px;
  border-radius: 20px;
  background-color: rgba(79, 129, 255, 1);
  font-weight: 600;
  font-size: 24px;
  line-height: 28.8px;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
}

.vaccination-add-button:hover,
.visite-add-button:hover {
  opacity: 1;
  transition: all 1s ease;
}

.add-cahier-sante h2,
.add-vaccin-button h2,
.add-visite-button h2,
.profile-details-add-cahier .add-cahier-sante h2 {
  line-height: 38.4px;
  font-size: 32px;
  font-weight: 700;
  color: #4f81ff;
  opacity: 0.7;
  text-shadow: 0 0 #fff, 0 38.4px #4f81ff;
  overflow: hidden;
  transition: 0.5s;
}

.add-cahier-sante h2:hover,
.add-vaccin-button h2:hover,
.add-visite-button h2:hover {
  text-shadow: 0 -38.4px #fff, 0 0 #4f81ff;
  opacity: 1;
}

.add-cahier-sante,
.add-vaccin-button,
.add-visite-button {
  width: 969px;
  height: 182px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4f81ff40;
  border-radius: 40px;
  cursor: pointer;
  position: absolute;
}

.add-vaccin-button,
.add-visite-button {
  width: 541px;
  height: 127px;
}

.obs-table {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 23px;
}

.obstetricaux-table {
  width: 90%;
  height: 509px;
  background-color: #dadada;
  border-radius: 10px;
}

.vaccination-table,
.my-visite-table {
  width: 100%;
}

.vaccination-table th,
.my-visite-table th {
  height: 73px;
}

.my-visite-table td {
  height: 553px;
}

.vaccination-table td {
  height: 156px;
}

.vaccination-table span,
.my-visite-table span {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(6, 14, 48);
}

table td span {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

table {
  border-collapse: collapse;
}

.header-table {
  width: 300px;
}

table td input {
  width: 50px;
}

table td {
  text-align: center;
  border: 1px solid black;
}

.vaccination-table th,
.vaccination-table td,
.visite-table th,
.visite-table td {
  text-align: center;
  border: 1.5px solid #025091;
}

.visite-table {
  border: none;
}

.cahier-formulaire-swiper {
  display: flex;
}

.patient-details .classToggleAddcahier .cahier-formulaire-swiper {
  display: flex;
  transition: all 1s ease;
}

@media screen and (max-width: 768px) {
  .home {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
  }

  .left-nav {
    padding-left: 15px;
  }

  .right-nav {
    padding-right: 0px;
    gap: 20px;
  }

  .right-nav .doctor {
    width: fit-content;
  }

  .aside {
    display: none;
  }

  .title {
    margin-left: 30px;
  }

  .menu {
    display: flex;
    margin-right: 5px;
  }

  .aside-active {
    display: flex;
  }

  .home-container {
    width: 100vw;
    margin-left: 0;
  }

  .top-titre {
    margin-top: 10px;
    margin-left: 0;
    display: flex;
    justify-content: center;
  }

  .top-right {
    gap: 10px;
    align-items: flex-start;
    padding-left: 5%;
    flex-direction: column;
    padding-right: 0;
  }

  .home-formulaire-swiper {
    height: 75%;
  }

  .formulaire-left {
    width: 100%;
  }

  .formulaire-centre,
  .formulaire-right {
    display: none;
  }

  .vl {
    display: none;
  }

  .sexe-date-heure,
  .date-poids-taille,
  .pre-fre,
  .app-cardio,
  .pleuro-pul,
  .conj-eryth-globe,
  .depistage,
  .malformations,
  .examen-de-la-peau,
  .traumatismes,
  .examen-neuro {
    flex-direction: column;
    padding-left: 0;
    margin-top: 22px;
  }

  .conclusion h2,
  .succion,
  .signe-moro {
    padding-left: 0;
  }

  .examen-neuro,
  .examen-de-la-peau,
  .app-cardio,
  .pleuro-pul,
  .malforamtion,
  .traumatismes,
  .conclusion,
  .fente,
  .bec,
  .hanches,
  .imperformation,
  .yeux,
  .conjonctivite,
  .erytheme,
  .globe {
    padding-right: 10px;
    padding-left: 10px;
  }

  .autre {
    padding-left: 10px;
  }

  .depistage {
    padding-right: 10px;
  }

  .reflexes {
    margin-left: 0;
    padding-left: 0;
  }

  .reflexes span {
    margin-left: 0;
  }

  .pre-fre {
    margin-top: 40px;
  }

  .score-dapgar {
    gap: 0px;
    padding-left: 0;
  }

  .minute-1,
  .minute-5 {
    margin-top: 20px;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .minute-1 {
    margin-left: 20px;
  }

  .minute-5 {
    margin-right: 20px;
  }

  .score {
    margin-left: 20px;
  }

  .rea-duree-malf,
  .transfert-motif {
    flex-direction: column;
    gap: 25px;
  }

  .reanimation span {
    margin-right: 20px;
  }

  .transfert span {
    margin-left: 90px;
  }

  .transfert input {
    margin-left: 20px;
  }

  .duree span {
    margin-right: 38px;
    margin-left: 40px;
  }

  .motif {
    gap: 0px;
  }

  .motif span {
    width: 200px;
    margin-left: 60px;
  }

  .motif input {
    width: 244px;
  }

  .cordon,
  .choanes,
  .atresie,
  .genitaux,
  .k1,
  .c-choanes {
    flex-direction: column;
  }

  .examen,
  .cathet,
  .organes,
  .vitamine,
  .catheterisme,
  .recherche {
    justify-content: center;
    padding-left: 0;
  }

  .recherche {
    padding-left: 20px;
  }

  .cordon span,
  .choanes span,
  .genitaux span,
  .k1 span,
  .c-choanes span {
    margin-left: 40px;
  }

  .atresie {
    gap: 10px;
  }

  .cordon input,
  .choanes input,
  .atresie input,
  .genitaux input,
  .k1 input,
  .c-choanes input {
    width: 400px;
  }

  .emission {
    gap: 0;
  }

  .urine,
  .meconium {
    gap: 0;
  }

  .urine span,
  .meconium span {
    margin-left: 30px;
  }

  .urine input,
  .meconium input {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
}

@media screen and (min-width: 1024px) and (max-width: 1600px) {
}

@media screen and (min-width: 1600px) {
  .top-titre h2 {
    padding-top: 43px;
  }
}

::-webkit-scrollbar {
  display: flex;
  width: 10px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #4f81ff;
  border-radius: 10px;
}

.calendrier-container {
  padding-left: 100px;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #4f81ff;
  overflow: hidden;
}

.container:before {
  content: "";
  position: absolute;
  width: 2000px;
  height: 2000px;
  background: linear-gradient(-45deg, #fff, #fff);
  top: -10px;
  right: 50%;
  transform: translateY(-50%);
  z-index: 6;
  transition: 1.8s ease-in-out;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.login-signin {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
  transition: 1s 0.7s ease-in-out;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: 0.2s 0.7s ease-in-out;
}

form.login-in-form {
  z-index: 2;
}

form.sign-in-form {
  z-index: 1;
  opacity: 0;
}

.title-login {
  text-transform: capitalize;
  color: #fff;
  font-weight: 600;
  line-height: 36px;
  font-size: 30px;
  margin-bottom: 53px;
}

.input-field label {
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
  color: #fff;
  text-transform: capitalize;
  margin-left: 10px;
}

.input-field {
  display: flex;
  flex-direction: column;
}

.email {
  margin-bottom: 14px;
}

.input-field input,
.input-field select {
  width: 392px;
  height: 60px;
  border-radius: 20px;
  font-size: 14px;
  padding-left: 3%;
  background-color: #fff;
  border: none;
  outline: none;
}

.input-field select {
  cursor: pointer;
}

.input-field input::placeholder,
.sign-in-form .input-field select {
  color: rgb(186, 186, 186);
}

.sign-in-form .input-field input,
.sign-in-form .input-field select {
  width: 362px;
  height: 50px;
  border-radius: 10px;
  font-size: 12px;
}

.sign-in-form .input-field label {
  font-size: 15px;
}

.forget-class {
  margin-top: 6px;
  width: 392px;
  display: flex;
  justify-content: end;
  padding-right: 10px;
}

.forget-class a {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.4px;
  color: rgba(6, 14, 48, 0.5);
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}

.forget-class a:hover {
  opacity: 1;
}

.btn-solid {
  width: 392px;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s;
}

.btn-solid:hover {
  background-color: rgba(6, 14, 48);
}

.cnx-btn {
  height: 60px;
  margin-top: 60px;
  background-color: rgba(6, 14, 48, 0.75);
}

.dmnd-btn {
  height: 43px;
  margin-top: 14px;
  background-color: rgba(6, 14, 48, 0.5);
}

.panels-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  height: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.panel {
  display: flex;
  flex-direction: column;
  z-index: 7;
}

.left-panel {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: all;
}

.right-panel {
  pointer-events: none;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
}

.panel .content {
  transition: 0.9s 0.6s ease-in-out;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 17px;
  background-color: rgba(6, 14, 48, 0.7);
  height: 100vh;
}

.image-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 1.1s 0.4s ease-in-out;
  height: 90vh;
  z-index: 9;
  background-color: #fff;
}

.demande-accee,
.demande-accee2 {
  width: 392px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(6, 14, 48, 0.5);
  border: none;
  text-transform: capitalize;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.demande-accee2 a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.demande-accee {
  position: absolute;
  right: 11.75rem;
  top: 37rem;
}

.demande-accee2 {
  width: 362px;
  background-color: rgba(79, 129, 255, 1);
  margin-top: 20px;
}

.demande-accee:hover,
.demande-accee2:hover {
  background-color: rgba(6, 14, 48, 1);
  transition: all 1s ease;
  color: #fff;
}

.back-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -16.5rem;
  left: -45rem;
  display: none;
}

.sign-in-form .back-btn i {
  color: rgba(6, 14, 48, 1);
}

.left-panel .content a,
.right-panel .content a {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 3px;
  font-family: "Montserrat-Alt1 Light", sans-serif;
  background: linear-gradient(
    to right,
    #71c5ee,
    #53a7d8,
    #3889c1,
    #1e6caa,
    #025091
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left-panel .content,
.right-panel .content {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-panel .content {
  margin-top: 60px;
}

.right-panel .content {
  gap: 28px;
}

.right-panel p {
  width: 476px;
  height: 72px;
  text-align: center;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  color: rgba(6, 14, 48, 1);
}

.left-panel .image-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-panel .image-login img {
  width: 675px;
  height: 558px;
}

.right-panel .content,
.right-panel .image-login {
  transform: translateX(800px);
}

.sign-in-mode #demande-accee {
  display: none;
}

.sign-in-mode #back-btn {
  display: flex;
}

.sign-in-mode::before {
  transform: translateX(100%, -50%);
  right: -80%;
}

.sign-in-mode .left-panel .image-login,
.sign-in-mode .left-panel .content {
  transform: translateX(-800px);
}

.sign-in-mode .right-panel .image-login,
.sign-in-mode .right-panel .content {
  transform: translateX(0px);
}

.sign-in-mode .left-panel {
  pointer-events: none;
}

.sign-in-mode .right-panel {
  pointer-events: all;
}

.sign-in-mode .login-signin {
  left: 25%;
}

.sign-in-mode form.login-in-form {
  z-index: 1;
  opacity: 0;
}

.sign-in-mode form.sign-in-form {
  z-index: 2;
  opacity: 1;
}

#demande-accee {
  z-index: 1;
}

/* dashboard style */

.dashboard-container {
  width: calc(100% - 82px);
  height: 200vh;
  position: absolute;
  background-color: #f8f9fd;
  left: 82px;
  top: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-top {
  width: 100%;
  height: 102px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 28px;
}

.dashboard-item {
  width: 292px;
  height: 100%;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px;
}

.dashboard-item-title,
.dashboard-nombre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-item-title a,
.dashboard-nombre h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  cursor: pointer;
}

.dashboard-item-title a:hover,
.dashboard-nombre h3:hover,
.chart-header a:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.dashboard-pourcentage-bad {
  color: red;
}

.dashboard-pourcentage-good {
  color: green;
}

.dashboard-item-title a span,
.chart-nombre-nouveau-ne h2 span {
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 700;
}

.dashboard-charts-calnedar {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  margin-top: 40px;
  padding-left: 31px;
  padding-right: 31px;
  gap: 18px;
}

.chart-dashboard1 {
  width: 832px;
  height: 611px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.Calendrier {
  width: 100%;
  height: 100vh;
}

.dashboard-calendar-container {
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
}

.calendar-container {
  padding-left: 100px;
  padding-right: 10px;
  height: calc(100vh - 90px);
}

.chart-header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 34px;
}

.chart-header a {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
}

.chart-line-container {
  width: 800px;
  height: 1px;
  background-color: rgba(79, 129, 255, 0.42);
}

.chart-line {
  width: 100%;
  display: flex;
  justify-content: center;
}

.chart-nombre-nouveau-ne {
  width: 100%;
  padding-left: 16px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 23px;
}

.chart-nombre-nouveau-ne h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  cursor: pointer;
}

.title-chart {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  color: rgba(146, 146, 157, 1);
}

.select-chart {
  display: flex;
  align-items: center;
  gap: 34px;
}

.chart-select-icon {
  cursor: pointer;
}

.chart-header select {
  width: 169px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #4f81ff;
  color: #4f81ff;
  background-color: transparent;
  cursor: pointer;
}

/* patient details style */

.patient-details {
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

.patient-details-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #060e30;
  margin-top: 26px;
  padding-left: 30px;
  padding-right: 55px;
}

.icon-button {
  cursor: pointer;
  font-size: 25px;
  color: rgba(6, 14, 48, 1);
}

.icon-button:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.patient-details-header-right {
  display: flex;
  gap: 21px;
}

.patient-details h2 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 28.8px;
  color: #060e30;
  margin-top: 31px;
}

.patient-details-container {
  display: flex;
  width: 100%;
  margin-top: 25px;
  gap: 27px;
  padding-left: 20px;
  padding-right: 20px;
}

.patient-details-container-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 15px;
}

.about-patient,
.patient-details-center,
.patient-details-examen,
.patient-details-reducation {
  width: 299px;
  height: 797px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 20px;
}

.patient-details-center {
  width: 864px;
}

.patient-details-examen {
  height: 413px;
}

.patient-details-reducation {
  height: 367px;
}

.about-patients-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-patient-image {
  width: 150px;
  height: 150px;
  border-radius: 41px;
  background-color: #d9d9d9;
  margin-top: 25px;
  margin-bottom: 25px;
}

.about-patient-description h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(6, 14, 48, 1);
  text-align: start;
  margin-left: 15px;
}

.about-patient-cart {
  width: 100%;
  margin-top: 15px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.patient-cart-item {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.patient-cart-item span {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: rgba(106, 110, 131, 1);
}

.patient-cart-item h3 {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: rgba(6, 14, 48, 1);
}

.patient-details-examen h2,
.patient-details-reducation h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: rgba(189, 189, 189, 1);
}

.patient-details-examen-container,
.patient-details-reducation-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}

.patient-details-examen-item,
.patient-details-examen-score,
.patient-details-examen-alliaitment,
.patient-details-reducation-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 30px;
}

.patient-details-examen-score,
.patient-details-examen-alliaitment {
  flex-direction: column;
  align-items: start;
}

.patient-details-examen-alliaitment {
  margin-top: 13px;
}

.patient-details-examen-item h3,
.patient-details-examen-score h3,
.patient-details-examen-alliaitment h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 16.8px;
  color: rgba(79, 129, 255, 1);
}

.patient-details-examen-item span {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: rgba(79, 129, 255, 1);
}

.patient-details-examen-score-inputs,
.patient-details-examen-alli-inputs {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 38px;
  margin-top: 10px;
}

.patient-details-examen-score-input,
.patient-details-examen-alli-input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.patient-details-examen-score-input span,
.patient-details-examen-alli-input span {
  font-weight: 400;
  font-size: 10px;
  line-height: 9.6px;
  color: rgba(79, 129, 255, 1);
}

.patient-details-examen-score-input input,
.patient-details-examen-alli-input input {
  width: 15px;
  height: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.reducation-doctor {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.reducation-doctor-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 14.4px;
  color: rgba(79, 129, 255, 1);
}

.reducation-doctor span {
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  color: rgba(189, 189, 189, 1);
}

.patient-details-reducation-item a {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: rgba(79, 129, 255, 1);
}

.voir-reducation:hover {
  transition: all 1s ease;
  transform: scale(1.1);
}

.reducation-doctor-name:hover {
  text-decoration: underline;
}

.table-button {
  width: 80px;
  font-size: 10px;
}

.patient-details-dossier-obse,
.patient-details-cahier-vaccin {
  width: 100%;
  padding: 30px;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.patient-details-dossier-obse-swiper,
.patient-details .cahier-formulaire-swiper {
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 1310px;
  margin-bottom: 30px;
}

.patient-details .cahier-formulaire-swiper {
  height: 1170px;
}

.profile-details-add-cahier {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15vh;
  height: 30vh;
}

/*patient details swiper style */

/*patient details dossier swiper */
.patient-details .pro-acc h2 {
  padding-left: 0;
  margin-left: -33%;
}

.patient-details .examen-annexes h2,
.patient-details .obser-entree h2 {
  margin-left: -35.5%;
  padding-left: 0;
}

.patient-details .resume-obser h2 {
  padding-left: 0;
  margin-left: -34.5%;
}

.patient-details .traumatismes h2{
   padding-left: 0;
  margin-left: -35.6%;
}

.patient-details .diag-sor h2{
  margin-left: -36.5%;
  padding-left: 0;
}

.patient-details .app-cardio h2{
  margin-left: -36%;
  padding-left: 0;
}

.patient-details .pleuro-pul h2{
  margin-left: -35.6%;
  padding-left: 0;
}

.patient-details .antecedents h2,
.patient-details .examen-de-la-peau h2,
.patient-details .conclusion h2 {
  padding-left: 0;
  margin-left: -39.1%;
}

.patient-details .malformations h2{
  margin-left: -41.4%;
  padding-left: 0;
}

.patient-details .examen-entree h2{
  padding-left: 0;
  margin-left: -37.5%;
}

.patient-details .examen-neuro h2{
  padding-left: 0;
  margin-left: -38%;
}

.patient-details .date-acc input,
.patient-details .heure-acc input {
  width: 356px;
}

.patient-details .diag-sor textarea,
.patient-details .resume-obser textarea,
.patient-details .motif-hosp textarea,
.patient-details .psychologiques .textarea textarea,
.patient-details .examen-comple .textarea textarea,
.patient-details .pathologique .textarea textarea,
.patient-details .familiaux .textarea textarea,
.patient-details .empre-digi .textarea textarea,
.patient-details .accoucheur .textarea textarea,
.patient-details .re-annexe-textarea .textarea textarea,
.patient-details .examen-general .textarea textarea,
.patient-details .examen-obstetrical .textarea textarea {
  width: 1160px;
}

.patient-details .examen-annexes .annexe-item {
  padding-left: 3%;
}

.patient-details .psychologiques .pyscho-item,
.patient-details .examen-bio-item,
.patient-details .pyscho-item {
  padding-left: 5.8%;
}

.patient-details .examen-annexes .annexe input,
.patient-details .malforamtion-annexe input,
.patient-details .remarque-annexe input,
.patient-details .add-adm-vit-item input,
.patient-details .psychologiques .pyscho-item input,
.patient-details .pyscho-item input,
.patient-details .examen-bio-item input {
  width: 869px;
}

.patient-details .examen-entree-item2 input {
  width: 880px;
}

.patient-details .glycemie input,
.patient-details .uree input,
.patient-details .hu input,
.patient-details .constraction input,
.patient-details .presentation input {
  width: 392px;
}

.patient-details .examen-annexes .annexe-two input {
  width: 977px;
}

.patient-details .sexe-poids-taille-pc input,
.patient-details .poids-taille-poule-ta input {
  width: 200px;
}

.patient-details .psycho-class input {
  width: 346px;
}

.patient-details .obster-left-class input {
  width: 583px;
}

.patient-details .obster-right-class input {
  width: 335px;
}

.patient-details .ddr-terme input {
  width: 300px;
}

/*patient details cahier swiper */

.patient-details .sexe-date-heure,
.patient-details .date-poids-taille,
.patient-details .pre-fre,
.patient-details .transfert-motif {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.patient-details .transfert-motif {
  padding-left: 10%;
}

.patient-details .sexe-date-heure input,
.patient-details .sexe-date-heure select,
.patient-details .date-poids-taille input,
.patient-details .pre-fre input {
  width: 250px;
}

.patient-details .motif input {
  width: 600px;
}

.patient-details .examen,
.patient-details .cathet,
.patient-details .recherche,
.patient-details .organes,
.patient-details .vitamine,
.patient-details .catheterisme,
.patient-details .ictere,
.patient-details .paleur,
.patient-details .hematome,
.patient-details .fente,
.patient-details .bec,
.patient-details .hanches,
.patient-details .imperformation,
.patient-details .yeux,
.patient-details .obstetricaux,
.patient-details .succion,
.patient-details .signe-moro,
.patient-details .tonus,
.patient-details .reaction,
.patient-details .conjonctivite,
.patient-details .erytheme,
.patient-details .globe{
  display: flex;
  justify-content: center;
}

/* doctor profile style */

.Doctor-profile {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.doctor-profile-container {
  width: 100%;
  height: calc(100vh - 80px);
  margin-top: 2px;
}

.doctor-profile-title {
  padding-left: 50px;
  padding-top: 25px;
}

.doctor-profile-title h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 33.6px;
  color: rgba(6, 14, 48);
  text-transform: capitalize;
}

.doctor-profile-title span,
.doctor-profile-header span,
.form-span span {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: rgba(106, 110, 131, 1);
}

.form-span span:hover {
  color: rgba(6, 14, 48);
  text-decoration: underline;
}
.doctor-profile-votre-photo {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 10px;
}

.doctor-profile-votre-photo h3 {
  font-weight: 600;
  line-height: 21.6px;
  font-size: 18px;
  color: rgba(6, 14, 48, 1);
}

.doctor-profile-votre-photo {
  padding-left: 154px;
  display: flex;
  flex-direction: column;
}

.doctor-profile-photo-changer-btn {
  display: flex;
  align-items: center;
  gap: 42px;
}

.doctor-profile-photo {
  width: 117px;
  height: 124px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.doctor-profile-changer-btn {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.doctor-profile-changer-btn button {
  width: 141px;
  height: 39px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
}

.doctor-profile-changer-btn button:first-child {
  background-color: rgba(79, 129, 255, 1);
}

.doctor-profile-changer-btn button:last-child {
  background-color: rgba(79, 129, 255, 0.4);
  color: rgba(79, 129, 255, 1);
}

.doctor-profile-changer-btn button:hover,
.doctor-profile-changer-btn button:hover,
.doctor-profile-enregistrer-button:hover {
  background-color: rgba(6, 14, 48, 1);
  transition: all 1s ease;
  color: #fff;
}

.doctor-profile-nom-hopital {
  display: flex;
  align-items: center;
  gap: 43px;
  position: absolute;
  right: 157px;
  top: 129px;
}

.doctor-profile-nom-hopital h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  color: rgba(6, 14, 48);
}

.doctor-profile-logo-hopital {
  width: 116px;
  height: 121px;
  background-color: #d9d9d9;
  border-radius: 20px;
}

.Doctor-profile form {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  gap: 24px;
  padding-bottom: 20px;
  margin-left: 72px;
}

.doctor-profile-form-class,
.doctor-profile-form-class2 {
  width: 100%;
  display: flex;
  gap: 55px;
}

.doctor-profile-forme-left-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.doctor-profile-form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.doctor-profile-form-item label {
  font-weight: 500;
  line-height: 14.4px;
  font-size: 12px;
  color: rgba(6, 14, 48);
  margin-left: 10px;
}

.doctor-profile-form-item input,
.doctor-profile-form-item select,
.doctor-profile-form-item textarea {
  width: 310px;
  height: 53px;
  border: 1px solid rgba(106, 110, 131, 1);
  border-radius: 10px;
  padding-left: 15px;
  color: rgba(106, 110, 131, 1);
  background-color: transparent;
  padding-right: 10px;
}

.doctor-profile-form-item textarea {
  width: 310px;
  height: 149px;
  padding-top: 10px;
}

.telephone-input {
  width: 310px;
  height: 53px;
  border: 1px solid rgba(106, 110, 131, 1);
  border-radius: 10px;
  padding-left: 15px;
  color: rgba(106, 110, 131, 1);
  background-color: transparent;
  display: flex;
  align-items: center;
}

.telephone-input span {
  font-weight: 500;
  font-size: 12px;
  line-height: 14.4px;
  color: rgba(106, 110, 131, 1);
}

.telephone-input input {
  width: 90%;
  height: 100%;
  background-color: transparent;
  border: 0;
  padding-left: 5px;
}

.doctor-profile-form-item select,
.form-span span {
  cursor: pointer;
}

.form-span {
  display: flex;
  flex-direction: column;
  margin-left: 154px;
  margin-top: 50px;
  gap: 30px;
}

.form-span-item {
  display: flex;
  align-items: center;
  gap: 11px;
}

.form-div-carre {
  width: 10px;
  height: 10px;
  border-radius: 3px;
  background-color: rgba(217, 217, 217, 1);
}

.doctor-profile-enregistrer-class {
  margin-left: 153px;
  margin-top: 80px;
  padding-bottom: 40px;
}

.doctor-profile-enregistrer-button {
  width: 141px;
  height: 39px;
  border-radius: 10px;
  background-color: rgba(79, 129, 255, 1);
  color: #fff;
  font-weight: 400;
  line-height: 14.4px;
  font-size: 12px;
  cursor: pointer;
}
